.btn-l,
.people-section .people-item-inner .social-links a i, 
.event-section .event-item-inner::before,
.couple-section .social-links a i,
.couple-section .couple img{
    border-color: #fb839e;
}

.preloader .loader i,
.btn-l:hover,
.people-section .people-item-inner .social-links a i,
.event-section .event-item-inner span,
.story-section .story-text h3,
.story-section .story-item i,
.couple-section .couple h3,
.couple-section .social-links a i,
.couple-section .couple i.fa-heart,
body.dark .header .nav ul li a.active,
body.dark .header .nav ul li a:hover, 
.header .nav ul li a.active,
.header .nav ul li a:hover {
    color : #fb839e;
}

.preloader .loader::before {
    border-right-color:#fb839e ;
}

.setting .s-toggle-btn,
.rsvp-section,
.btn-l,
body.dark .people-section .filter-btn.active,
.people-section .filter-btn.active, 
.people-section .people-item-inner .social-links a:hover i,
.event-section,
.couple-section .social-links a:hover i {
    background-color: #fb8394;
}
.event-section .event-item-inner img, 
.footer .footer-content .couple-name img {
    filter: hue-rotate(340deg);
}